APP_NAME=Rayventory
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync

DB_CONNECTION=sqlite
DB_DATABASE=../MAGA/data/inventory_forecast.db

ML_PYTHON=py
ML_ENGINE_PATH=../MAGA/engine/predict_cli.py
ML_REPORTS_PATH=../MAGA/reports
ML_TIMEOUT=120
