APP_NAME=Rayventory
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=database

DB_CONNECTION=sqlite

ML_PYTHON=py
ML_TIMEOUT=120
ML_MODEL_REGISTRY_PATH=
ML_MODELS_PATH=
ML_RESEARCH_PYTHON=
ML_TRAINING_TIMEOUT=3600
ML_LOCAL_DATA_PATH=
ML_DATASET_ANALYSIS_PATH=
ML_TUNING_PATH=
ML_SCENARIOS_PATH=
