.env
.env.*
!.env.example

/vendor/
/.venv/
/node_modules/
/public/build/
/public/Python/
/public/python_install*.log

/storage/app/*
!/storage/app/.gitignore
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
!/storage/*/.gitignore

/bootstrap/cache/*.php
/.phpunit.result.cache
/.phpunit.cache/
/.idea/
/.vscode/
*.log
*.sqlite
*.sqlite3
